h1 {
  font-family: fantasy;
  font-size: 40;
  text-align: center;
}

div {
  background-color: #B8860B;
  background-size: 35%;
}

body {
  background-color: #DEB887;
}

h2 {
  text-align: center;
  border-color: black;
  border-style: solid;
}

#first-image {
  border-width: 15px;
  float: left;
  border-style: groove;
  width: 150;
  padding: 25px;
}

#second-image {
  border-width: 15px;
  float: left;
  border-style: groove;
  width: 150;
  padding: 25px;
}

#third-image {
  border-width: 15px;
  float: left;
  border-style: groove;
  width: 150;
  padding: 25px;
}
img {
  height: 380px;
  width: 364px;

}
